body
{
		margin: 2%;
		border: 1px solid black;
		background-color: #b3b3b3;
}
#image
{
    /* center overlay text with flexbox instead of line-height */
    display: flex;
    align-items: center;
    justify-content: center;

    width: 575px;
    height: 650px;
    border:5px solid black;
    margin:0 auto;
    background-color: #8e68ff;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: cover;      /* fill the box (cropping may occur) */
    background-position: center;
    color:#FFFFFF;
    text-align: center;
    margin-bottom:25px;
    font-size: 150%;
}
.preview
{
	width:10%;
	margin-left:17%;
    border: 10px solid black;
}

img
{
		width:95%;
}



